@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  background-image: url('https://www.goodnet.org/photos/620x0/29884_hd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Spartan' ,sans-serif;
}
